.hero{
    max-width: 1640px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem
}
.container{
    position: relative;
    max-height: 500px;
}
.container-h{
    position: absolute;
    width: 100%;
    height: 100%;
     --tw-text-opacity: 1;
    color: rgb(229 231 235 / var(--tw-text-opacity));
    max-height: 500px;
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container-h h1{
    padding-left: 1rem/* 16px */;
    padding-right: 1rem/* 16px */;
    font-size: 2.25rem/* 36px */;
    line-height: 2.5rem/* 40px */;
    font-weight: bold;
    @media (min-width: 640px) {
        
            font-size: 3rem/* 48px */;
            line-height: 1;
        
    }
    @media (min-width: 1024px) {
       
            font-size: 4.5rem/* 72px */;
            line-height: 1;
        
    }
    
}
.container-h h1>:nth-child(1){
    --tw-text-opacity: 1;
    color: rgb(249 115 22 / var(--tw-text-opacity));
}

img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}